$navbarColor: #313a4a;
$linkColor: #fafafa;
$bgColor: #e9edf2;
$bgFilterArea: #ffffff;
$bgCarousel: #ffffff;

body {
  background: $bgColor;
  margin-top: 50px;
}

.form-filter {
  background: $bgFilterArea;
  border: 1px solid darken($bgFilterArea, 10%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 20px 0;

  .form-group {
    padding: 10px 10px;
  }
}

.navbar-brand {
  img {
    top: 0;
    margin: 2px;
    position: absolute;
    height: 45px;
  }
}

.navbar-custom {
  background-color: $navbarColor;
  border-color: darken($navbarColor, 10%);

  ul {
    li {
      &.active {
        background: darken($navbarColor, 15%);
      }
      a {
        &:hover, &:active {
          background: darken($navbarColor, 10%)
        }
      }
    }
  }
  a {
    color: $linkColor;
  }
}

.carousel {
  margin: 10px 0;
  background: $bgCarousel;

  .carousel-indicators li {
      margin: 0 5px;
      &.active {
        margin: -1px 5px;
      }
  }
}

.container-data {
  .column {
    height: 445px;
    overflow: hidden;
    margin: 10px 0;

    img {
      height: 165px;
    }
    .caption {
      .title {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
        border-bottom: 2px dashed #dedede;
      }
      .label-row {
        height: 25px;
        padding: 5px;
        margin: 0;
        display: inline-block;
      }
      .price {
        height: 25px;
        line-height: 25px;
        padding: 0;
        margin: 0 0 5px;
        border: 1px dashed #dedede;
        font-size: 14pt;
        font-weight: 500;
        text-align: center;
        border-radius: 5px;
      }
      .description {
        height: 100px;
        overflow: hidden;
      }
    }
  }
}
